@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: clamp(10px, 0.9vw, 22px);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  background: white;
  scroll-behavior: smooth;

  @include hd {
    font-size: clamp(10px, 0.9vw, 20px);
  }
  @include cel {
    font-size: clamp(16px, 1.8vw, 18px);
  }
  @include hdplus {
    font-size: clamp(14px, 7vw, 22px);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  line-height: 1em;
  font-family: "Playfair Display", serif;
  padding-bottom: 0.7rem;
  color: $secundario;
}
h1 {
  font-size: clamp(2.9rem, 5vw, 7vw);
}
h2 {
  font-size: clamp(2.2em, 2vw, 30vw);
  color: $acento;
  @include hd {
    font-size: clamp(3em, 2vw, 50vw);
  }
}

ol,
ul {
  list-style: none;
}
li {
  list-style: disc;
  /* list-style-position: inside; */
  margin-left: 1.5rem;
  margin-bottom: 0.2rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-size: cover;
  shape-margin: 0.75rem;
}
a {
  text-decoration: none;
  display: inline-block;
  color: $primario;
}