@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: clamp(10px, 0.9vw, 22px);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  background: white;
  scroll-behavior: smooth;

  @include hd {
    font-size: clamp(10px, 0.9vw, 20px);
  }
  @include cel {
    font-size: clamp(16px, 1.8vw, 18px);
  }
  @include hdplus {
    font-size: clamp(14px, 7vw, 22px);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  color: $azulmarino;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  line-height: 1em;
  font-family: "Playfair Display", serif;
  padding-bottom: 0.7rem;
  color: $secundario;
}
h1 {
  font-size: clamp(2.3rem, 4vw, 6vw);
  font-weight: bold;
  color: $naranja;
}
h2 {
  font-size: clamp(1.8em, 2vw, 30vw);
  color: $acento;
  @include hd {
    font-size: clamp(3em, 2vw, 50vw);
  }
}

ol,
ul {
  list-style: none;
}
li {
  list-style: disc;
  /* list-style-position: inside; */
  margin-left: 1.5rem;
  margin-bottom: 0.2rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-size: cover;
  shape-margin: 0.75rem;
}
a {
  text-decoration: none;
  display: inline-block;
  color: $primario;
  vertical-align: baseline;
  img{
    width: 2rem !important;
    height: auto !important;
    margin-right: .5rem;
  }
}
nav {
  display: none;
}
#hero {
  display: flex;
  text-align: center;
  width: 100%;

  h2 {
    color: $azulmarino;
  }
  .izq {
    flex: 1 0 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .der {
    flex: 1 0 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    .bandeja:last-child {
      background: $fondoamarillo;
    }
  }
  .bandeja {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1 0 100%;
  }
  .conte {
    width: 80%;
  }
  p,
  h1 {
    margin-top: 1rem;
  }
  @include cel {
    flex-wrap: wrap;
    .izq {
      flex: 1 0 100%;
    }
    .der {
      flex: 1 0 100%;
      .conte {
        padding: 4rem 0;
      }
      img {
        max-width: 200px;
      }
    }
    .bandeja {
      padding: 2rem;
      flex: 1 0 100%;
    }
  }
}

#intro {
  background: url(/palma.png), $azulmarino;
  background-repeat: no-repeat;
  background-position: -27% center;
  background-size: 40% auto;
  color: white;
  display: grid;
  grid-template-columns: 2fr 1.6fr;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  transform: translateY(-1em);
  z-index: 200;
  ul {
    margin: 0.8rem 0;
  }
  h2 {
    color: $amarillo;
  }
  b {
    color: $amarillo;
  }

  .izq,
  .der {
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conte {
    width: 60%;
    transform: translateX(7rem);
  }
  .der {
    .conte {
      display: grid;
      grid-template-columns: 1fr 20% 1fr;
      grid-template-rows: 1fr 20% 1fr;
      width: 90%;
      height: 80%;
    }
    img {
      border-radius: 1em;
      aspect-ratio: 5/4;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    img:first-child {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
    img:nth-child(2) {
      grid-column: 2/ -1;
      grid-row: 2 / -1;
    }
  }
  @include cel {
    grid-template-columns: 1fr;
    background-position: 300% 80%;
    background-size: 90% auto;

    .conte {
      padding-top: 5rem;
      width: 80%;
      transform: translateX(0rem);
    }
    .der .conte {
      width: 90%;
      height: 110%;
    }
  }
}

#habitaciones {
  transform: translateY(-2rem);
  background: $amarillo;
  text-align: center;
  padding: 14dvh 0;
  h2 {
    color: $azulmarino;
    padding: 0 2rem;
  }
  p {
    padding: 2rem;
  }
  #riel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 0.5rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 0 1rem;
    @include cel {
      grid-auto-columns: 80%;
    }
  }
  .habitacion {
    background: $fondoamarillo;
    border-radius: 1em;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      color: $naranja;
      padding-top: 1.5rem;
      font-size: clamp(2rem, 2.5vw, 3rem);
    }
    p {
      padding: 1rem 0;
    }
    img {
      width: 100%;
      border-radius: 0.7em;
    }
  }
  span {
    font-weight: bold;
    text-shadow: 4px 4px 3px rgba(108, 103, 66, 0.3);
    color: $azulmarino;
  }
  .maximo {
    border-top: solid 1px $azulmarino;
    padding: 1rem 0;
    margin-top: 1rem;
  }
}
#amenidades {
  text-align: center;
  padding: 14dvh 0;
  h2 {
    color: $naranja;
  }
  p {
    padding: 2rem;
  }
  .bandeja {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    gap: 0.5rem;
    .guardian {
      width: 100%;
      height: 100%;
      border-radius: 1em;
      object-fit: cover;
    }
    @include cel {
      grid-template-columns: 1fr;
      padding: 0 1rem;
    }
  }
  #lista-servicios {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    .servicio {
      display: flex;
      flex-direction: column;
      flex: 1 0 30%;
      padding: 2rem;
      background: $azulmarino;
      color: white;
      border-radius: 1em;
      img {
        width: clamp(50px, 3rem, 200px);
        height: auto;
        margin: 0 auto;
      }
      h3 {
        color: $naranja;
        padding: 1rem;
        font-size: clamp(1.4rem, 1.8vw, 3rem);
      }
      p {
        padding: 0rem;
      }
    }
    @include cel {
      .servicio {
        flex: 1 0 40%;
        justify-content: center;
      }
    }
  }
  @include cel {
    padding: 7dvh 0;
  }

}

.barras {
  display: flex;
  .izq,
  .der {
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  @include cel {
    flex-wrap: wrap;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    margin: 0 1rem;
    .izq {
      padding: 4rem 0;
    }
    .izq,
    .der {
      flex: 1 0 100%;
    }
  }
}

#descubre {
  background: $azulmarino;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  h2 {
    color: $naranja;
  }
  p {
    padding-top: 1rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .conte {
    width: 70%;
  }
}

#grupos {
  margin: 12dvh 0;
  h2 {
    color: $naranja;
  }
  p {
    padding-top: 1rem;
    color: $azulmarino;
  }
  .izq {
    order: 2;
  }
  .der {
    order: 1;
    background: url(/fondo-bus.png) no-repeat;
    background-size: 50% auto;
    background-position: center;
    img {
      padding: 2rem;
    }
  }
  @include cel {
    margin: 6dvh 0 0;
    padding: 0 2rem;
  }
  .der {
    background-size: contain;
    img {
      padding: 0rem;
    }
  }
}

#cocos{
  position: absolute;
  top: 0;
  left: -10%;
  max-width: 15%;
  height: auto;
  @include cel {
    
    top: -10%;
    max-width: 35%;
  }
}
 #palma{
  position: absolute;
  z-index: -1;
  top: -30%;
  left: -10%;
  max-width: 35%;
  height: auto;
  @include cel {
    top: -20%;
    max-width: 65%;
  }
}
#contacto {
  margin: 12dvh 0;
  background: $fondoamarillo;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  h2 {
    color: $naranja;
  }
  p,
  li {
    padding-top: 1rem;
    color: $azulmarino;
  }
  .conte {
    width: 70%;
  }
  
  @include cel {
    margin: 3dvh 0;
    padding: 0 2rem;
  }
}
#reservaciones {
  margin: 10dvh 0;
  h2 {
    color: $naranja;
  }
  p {
    padding-top: 1rem;
    color: $azulmarino;
  }
  .izq {
    position: relative;
    border: solid;
    
    #flor {
      position: absolute;
      top: 0;
      left: 10%;
    }
  }
  img{
    border-radius: 1rem;
    max-width: 80%;
  }
  @include cel {
    margin: 0dvh 0;
    padding: 0rem;
    .izq #flor {
      top: -5%;
      left:50%;
    }
  }
}
