
$primario: #717A87;
$secundario: #B67B6A;
$acento: #8FB5A9;
$gris: #3F3837;
$fondo: #fef6ed;

$naranja: #FF7139;
$amarillo: #FFCA60;
$azulmarino: #5251B0;
$azul: #6DBEFF;
$fondoamarillo: #FFF1D5;


//media query
$cel: 479px;
$nocel: 479px;
$tableta: 768px;
$tableta-land: 1024px;
$hd:1600px;
$hdplus:1990px;


//extra
$radio: .8rem;
$margen: 4rem;
$margen-top: 8rem;
$radio-cel: 0.5rem;
$margen-cel: 2rem;
$margen-min: 1rem;
$margen-top-cel: 6rem;


@mixin cel {
  @media (max-width: #{$cel}) {
    @content;
  }
}

@mixin nocel {
  @media (min-width: #{$nocel}) {
    @content;
  }
}

@mixin tableta_land {
  @media (min-width: #{$tableta-land}) and (max-width: #{$hd - 1px}) {
    @content;
  }
}

@mixin tableta {
  @media (min-width: #{$tableta - 1px}) and (max-width: #{$tableta-land - 1px}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$hd}) and (max-width: #{$hdplus}) {
    @content;
  }
}

@mixin hdplus {
  @media (min-width: #{$hdplus}) {
    @content;
  }
}

//layouts

.grid {
    display: grid;
    position: relative;
    grid-template-columns: [pantalla-start] 5vw [extra-start] 5vw [contenido-start] 1fr [contenido-end] 5vw [extra-end] 5vw [pantalla-end];
    @include hd {
      grid-template-columns: [pantalla-start] 2vw [extra-start] 6vw [contenido-start] 1fr [contenido-end] 6vw [extra-end] 2vw [pantalla-end];
    }
    @include hdplus {
      grid-template-columns: [pantalla-start] 3vw [extra-start] 6vw [contenido-start] 1fr [contenido-end] 6vw [extra-end] 3vw [pantalla-end];
    }
  }
  .contenido > * {
    grid-column: contenido;
    @include cel {
      grid-column: pantalla;
    }
  }
  .extra > * {
    grid-column: extra;
  }
  .pantalla > * {
    grid-column: pantalla;
  }
  .pantalla-izq > * {
    grid-column: pantalla-start / contenido-end;
    @include cel {
      grid-column: pantalla;
    }
  }
  .pantalla-der > * {
    grid-column: contenido-start / pantalla-end;
    @include cel {
      grid-column: pantalla;
    }
  }
  .pantalla-der-especial > * {
    grid-column: contenido-start / pantalla-end;
    @include cel {
      grid-column: contenido / pantalla-end;
    }
  }
  .pantalla-reservar > * {
    grid-column: contenido;
  }

// animaciones 
.anime{
  transition: all .2s ease-in-out;
  }

.sombra{
  box-shadow: 0px 4px 19px 0px rgba(205, 160, 109, 0.6);
}