---
import Contacto from '../components/Contacto.astro';
import Layout from '../layouts/Layout.astro';
import Formulario from '../components/Formulario.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title='Hotel Manglar Zihuatanejo'>
	<main>	
		<h1>Hotel Manglar Zihuatanejo</h1>
	</main>

	<Contacto />
	<Formulario lang="es" />
</Layout>
