---
import Contacto from "../components/Contacto.astro";
import Layout from "../layouts/Layout.astro";
import Formulario from "../components/Formulario.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Hotel Manglar Zihuatanejo">
  <nav>
    <a href="#">Inicio</a>
    <a href="#">habitaciones</a>
    <a href="#">reservaciones</a>
    <a href="#">amenidades</a>
    <a href="#">contacto</a>
  </nav>
  <div id="hero">
    <div class="izq">
      <img
        src="/cover-hotel-manglar-zihuatanejo.webp"
        alt="hotel manglar zihuatanejo"
      />
    </div>
    <div class="der">
      <div class="bandeja">
        <div class="conte">
          <img
            src="/hotel-manglar-zihuatanejo.svg"
            alt="Hotel Manglar Zihuatanejo logo"
          />
          <h1>Tu descanso en el corazón de Zihuatanejo</h1>
        </div>
      </div>
      <div class="bandeja">
        <div class="conte">
          <h2>
            Cómodo, bien ubicado y con una excelente relación calidad-precio
          </h2>
          <p>
            <b>Hotel Manglar Zihuatanejo</b> es una opción ideal. Nos encontramos
            en el centro de Zihuatanejo, a solo unas cuadras de la bahía, con fácil
            acceso a restaurantes, mercados y atractivos turísticos. Somos una gran
            <b>opcion para viajeros y grupos</b> en tours organizados.
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="grid pantalla-izq">
    <div id="intro">
      <div class="izq">
        <div class="conte">
          <h2>Hospedaje cómodo y funcional</h2>
          <p>
            Nuestras habitaciones están diseñadas para ofrecerte una estancia
            placentera, con:
          </p>
          <ul>
            <li><b>Baño privado</b> para mayor comodidad</li>
            <li>
              <b>Aire acondicionado</b> y ventilador para un descanso agradable
            </li>
            <li><b>Televisión</b> con canales locales y cable</li>
            <li><b>Wi-Fi</b> gratuito para mantenerte conectado</li>
          </ul>
          <p>
            Además, nuestro hotel cuenta con una <b>alberca con chapoteadero</b
            >, ideal para refrescarse y relajarse después de un día explorando
            Zihuatanejo.
          </p>
          <a href="#" class="btn-claro"> Ver habitaciones</a>
        </div>
      </div>
      <div class="der">
        <div class="conte">
          <img
            src="/alberca.jpg"
            alt=" Alberca con chapoteadero en Hotel Manglar Zihuatanejo"
          />
          <img
            src="/playa-las-gatas.jpg"
            alt="playa de las gatas cerca del Hotel Manglar Zihuatanejo"
          />
        </div>
      </div>
    </div>
  </section>
  <section id="habitaciones">
    <h2>Habitaciones Hotel Manglar Zihuatanejo</h2>
    <p><b>Selecciona la habitacion </b>que mejor se adapte a tus necesidades</p>
    <div id="riel">
      <div class="habitacion">
        <img
          src="/habitacion-ideal.jpg"
          alt="habitacion ideal hotel manglar zihuatanejo"
        />
        <h3>Habitacion <span>Ideal</span></h3>
        <p>
          Ideal para quienes buscan un espacio cómodo y funcional. Cuenta con <b
            >cama king size</b
          >, aire acondicionado, baño privado, TV y wifi.
        </p>
        <a href="#" class="btn-claro">Reserar ahora</a>
        <div class="maximo">
          <b>Máxiomo</b> 2 personas
        </div>
      </div>

      <div class="habitacion">
        <img
          src="/habitacion-companero.jpg"
          alt="habitacion compañeros hotel manglar zihuatanejo"
        />
        <h3>Habitacion <span>Compañero</span></h3>
        <p>
          Perfecta para parejas o amigos que desean compartir. Equipada con una <b
            >cama matrimonial y 1 individual</b
          >, aire acondicionado, TV y baño privado.
        </p>
        <a href="#" class="btn-claro">Reserar ahora</a>
        <div class="maximo">
          <b>Máxiomo</b> 3 personas
        </div>
      </div>

      <div class="habitacion">
        <img
          src="/habitacion-familiar.jpg"
          alt="habitacion Familiar hotel manglar zihuatanejo"
        />
        <h3>Habitacion <span>Familiar</span></h3>
        <p>
          Pensada para grupos pequeños o familias. Dispone de <b
            >dos camas matrimoniales</b
          >, aire acondicionado, TV y baño privado.
        </p>
        <a href="#" class="btn-claro">Reserar ahora</a>
        <div class="maximo">
          <b>Máxiomo</b> 4 personas
        </div>
      </div>

      <div class="habitacion">
        <img
          src="/habitacion-grupal.jpg"
          alt="habitacion grupal hotel manglar zihuatanejo"
        />
        <h3>Habitacion <span>Grupal</span></h3>
        <p>
          La mejor opción para grupos o familias numerosas. Cuenta con <b
            >tres camas matrimoniales</b
          >, aire acondicionado, TV y baño privado.
        </p>
        <a href="#" class="btn-claro">Reserar ahora</a>
        <div class="maximo">
          <b>Máxiomo</b> 6 personas
        </div>
      </div>
    </div>
  </section>
  <Contacto />
  <Formulario lang="es" />
</Layout>
